body
{
border-style :groove;
border-width:10px;
border-color:black;
height: 520px;
width:815px;
}table.special
{
height:100%;
width:100%;
}
td.row1
{
padding-top:16px;
vertical-align:top;
width:240px;
}
td.row2
{
padding-top:20px;
padding-left:17px;
width:575px;
border-left:1px solid black;
vertical-align:top; 
}
li 
{
 padding: .125em 0;
}
a
{
COLOR: #151B8D;
}
